
<!doctype html>
<html lang="en">
    <!-- head di sini -->
    <%- include('./partials/html/head') %>

    <body>

    <!-- layout navigation di sini -->
    <%- include('./partials/layout/navigation') %>

    <div class="container text-center">

        <h1>Welcome!</h1>
        <p><a href="/pricing">Lihat Daftar Harga</a></p>
      
      
        <!-- footer layout di sini -->
        <%- include('./partials/layout/footer') %>

    </div>


    <!-- footer html di sini -->
    <%- include('./partials/html/footer') %>

    </body>
</html>
